* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

header {
    background-color: rgb(241, 241, 241);
    padding: 1rem;
    position: relative;
}

.app__name {
    text-align: center;
    font-size: 24px;
    color: #494949;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

nav a {
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
    color: #494949;
    transition: .2s;
    padding: .5rem 1rem;
    border-radius: 4px;
}

nav a:hover {
    background-color: #e2e2e2;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.contact {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.contact p {
    color: #494949;
    font-size: 16px;
    margin-bottom: 1rem;
}

.contact__icon {
    display: flex;
}

.contact__icon a {
    width: 32px;
    height: 32px;
    background-color: #494949;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 1rem;
    border-radius: 4px;
}